Preparing features to store in Feast's feature store

In [ ]:
import pandas as pd 
import os 
import numpy as np

In [2]:
# read data 
data = pd.read_csv("06_data_resampled.csv")

In [4]:
data.head(3)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,target
0,-1.030484,-0.917234,-0.417428,-4.484990,-0.027524,0.172187,0.576443,-0.648705,-0.081865,0.0
1,-5.854288,-2.919187,0.919840,-1.698332,-0.323658,-0.812397,-0.396448,0.069501,0.073096,0.0
2,21.583602,-12.471371,-5.233301,12.210306,19.029674,0.770133,3.041642,0.630284,-2.482647,0.0

In [18]:
predictors_df = data.loc[:, data.columns!='target']
target_df = data['target']

We have to add two columns: 

- event_timestamp: the time when the feature was created 
- feature_id: the id of the feature

In [ ]:
# timestamp
timestamps = pd.date_range(
    end = pd.Timestamp.now(), periods = len(data), freq = "H"
).to_frame(name="event_timestamp", index=False)

In [15]:
# id 
datalen = len(data)
idslist = list(range(datalen))

feature_ids = pd.DataFrame(idslist, columns=['feature_id'])

In [19]:
# Merge these columns 
predictors_df = pd.concat([timestamps, predictors_df], axis=1) 
target_df = pd.concat([timestamps, target_df], axis=1)

predictors_df = pd.concat([feature_ids, predictors_df], axis=1) 
target_df = pd.concat([feature_ids, target_df], axis=1)

In [21]:
predictors_df.head(3)

,feature_id,event_timestamp,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9
0,0,2019-04-13 03:13:32.255766,-1.030484,-0.917234,-0.417428,-4.484990,-0.027524,0.172187,0.576443,-0.648705,-0.081865
1,1,2019-04-13 04:13:32.255766,-5.854288,-2.919187,0.919840,-1.698332,-0.323658,-0.812397,-0.396448,0.069501,0.073096
2,2,2019-04-13 05:13:32.255766,21.583602,-12.471371,-5.233301,12.210306,19.029674,0.770133,3.041642,0.630284,-2.482647

In [22]:
target_df.head(3)

   feature_id            event_timestamp  target
0           0 2019-04-13 03:13:32.255766     0.0
1           1 2019-04-13 04:13:32.255766     0.0
2           2 2019-04-13 05:13:32.255766     0.0

In [25]:
# shapes
print(f"predictors_df shape: {predictors_df.shape}")
print(f"target_df shape: {target_df.shape}")

predictors_df shape: (49522, 11)
target_df shape: (49522, 3)

save data

In [26]:
predictors_df.to_parquet(path="predictors.parquet")
target_df.to_parquet(path="target.parquet")